$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
$min-width: 320px;
$retina-x2: 2dppx;
$padding-desktop: 375px;
$padding-tablet: 21px;
$padding-mobile: 16px;

//$color-primary: #fee600;
//$color-primary-hover: #fed500;
//$color-secondary: #3b7cff;
//$color-white: #ffffff;
//$color-black: #000000;
//$color-off-black: #2b2d33;
//$color-disabled: #939aa3;
//$color-text-gray: #55575c;
//$color-text-gray-light: #808185;
//$color-text-gray-lighter: #a2a4a6;
//$background-color-primary: $color-white;
//$background-color-blue: #29476b;
//$background-color-secondary: #424548;
//$background-color-gray: #f4f4f4;
//$background-color-white-06: #e1e1e3;
//$color-link: #00aaff;
//$color-link-hover: #00c2ff;
//$color-link-active: #4c9ed9;

$font-family-main: "Open Sans", "Arial", sans-serif;
//$font-size: 14px;
//$line-height: 24px;
//$color-text: $color-black;
//$font-weight: 400;
