.btn {
  @include btn-reset;
  display: block;
  background-color: $color-primary;
}

.btn__submit {
  color: $color-black;
  font-weight: 600;
  font-size: 1.03vw;
  line-height: 21px;
  text-align: center;
  border-radius: 6px;
  padding: 16px 20px 14px;

  @include tablet {
    font-size: 15px;
    margin-right: 0;
  }

  @include mobile {
    padding: 14px 20px 16px;
  }
}

.btn__menu {
  display: none;

  @include tablet {
    position: absolute;
    top: -25px;
    right: -22px;
    display: block;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
  }

  @include mobile {
    right: -17px;
  }

  &--open {
    background-image: url("../img/svg/btn-menu-open.svg");
  }

  &--close {
    background-image: url("../img/svg/btn-menu-close.svg");
    background-color: transparent;
    top: 0;
    right: 0;
  }
}

.btn__play {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 44%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-image: url("../img/svg/btn-video-play.svg");
  background-size: 13px 18px;
  background-position: 29px center;
  background-repeat: no-repeat;

  @include tablet {
    top: 34%;
    width: 91px;
    height: 91px;
    background-size: 18px 25px;
    background-position-x: 40px;
  }

  @include mobile {
    top: 30%;
    width: 65px;
    height: 65px;
    background-size: 13px 18px;
    background-position-x: 28px;
  }
}
