.header {
  min-height: 825px;
  display: flex;
  justify-content: center;
  background-image: url("../img/png/bg-main-desktop@1x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $background-color-secondary;
  padding-top: 21px;
  padding-bottom: 762px;

  @include retina {
    background-image: url("../img/png/bg-main-desktop@2x.png");
  }

  @include tablet {
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    background-color: transparent;
    min-height: auto;
    padding-top: 0;
    background-image: none;
    padding-bottom: 0;
  }

  &--nojs {
    @include tablet {
      display: flex;
    }
  }

  &--open {
    @include tablet;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: $color-white;
    z-index: 2;
  }
}

.header--open + main,
.header--open + footer {
  display: none;
}

.header--nojs .btn__menu--close,
.header--nojs + .main .btn__menu--open {
  @include tablet {
    display: none;
  }
}

.header--open + .main .btn__menu--open {
  display: none;
}

.header__wrapper {
  width: 60.7%;
  display: flex;
  border-bottom: 1px solid $color-white-02;
  padding-bottom: 9px;

  @include tablet {
    position: relative;
    width: 100%;
    border: none;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}
