.main {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  margin-top: -507px;

  @include tablet {
    padding: 0;
    margin-top: 0;
  }
}

.main__container {
  display: flex;
  padding-left: 280px;
  padding-right: 280px;
  margin-bottom: 239px;

  @include tablet {
    flex-direction: column;
    padding: 0;
    margin-bottom: 0;
  }
}
