.main {
  width: 100%;
  display: flex;
  padding-left: 280px;
  padding-right: 280px;
  padding-bottom: 239px;
  margin-top: -507px;

  @include tablet {
    flex-direction: column;
    padding: 0;
    margin-top: 0;
  }
}
