.map {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-left: 240px;
  padding-right: 240px;

  @include tablet {
    padding-top: 28px;
    padding-left: 35px;
    padding-right: 35px;
  }

  @include mobile {
    padding-top: 31px;
    padding-left: 0;
    padding-right: 0;
  }
}

.map h2 {
  font-size: 1.97vw;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 34px;

  @include tablet {
    font-size: 2.95vw;
    margin-right: 0;
    margin-bottom: 24px;
  }

  @include mobile {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 19px;
  }
}

.map p {
  @include style-reset;
  width: 50%;
  text-align: center;
  font-size: 1.18vw;
  line-height: 182%;
  color: $color-black-07;
  margin-right: 15px;
  margin-bottom: 41px;

  @include tablet {
    width: 100%;
    font-size: 2.22vw;
    margin-right: 0;
    margin-bottom: 20px;
  }

  @include mobile {
    width: 84%;
    font-size: 17px;
    line-height: 31px;
    margin-bottom: 19px;
  }
}
