.nav {
  width: 100%;
  display: flex;

  @include tablet {
    background-color: $color-white;
    padding-top: 50px;
    padding-bottom: 5px;
  }

  @include mobile {
    padding-top: 100px;
    padding-bottom: 108px;
  }
}

.nav__list {
  @include list-reset;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include tablet {
    flex-direction: column;
  }
}

.nav__item {
  @include style-reset;

  @include tablet {
    position: relative;
    margin-bottom: 30px;
  }

  &::before {
    @include tablet {
      content: "";
      display: block;
      width: 8px;
      height: 12px;
      position: absolute;
      top: 23px;
      right: 24px;
      background-image: url("../img/svg/arrow-right.svg");
      background-repeat: no-repeat;
    }
  }
}


.nav__item a {
  color: $color-white-07;
  font-weight: 300;
  font-size: 1.12vw;
  line-height: 200%;
  text-align: center;
  letter-spacing: -0.005em;

  @include tablet {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: $color-text-gray;
    text-align: left;
    background-color: $color-white-smoke;
    padding: 17px 35px 15px 17px;
  }

  &:hover,
  &:focus {
    color: $color-white-smoke;

    @include tablet {
      color: $color-text-gray;
    }
  }

  &:active {
    color: $color-primary;

    @include tablet {
      background-color: transparent;
      color: $color-text-gray;
    }
  }
}
