html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include style-reset;

  width: 100%;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color-text;
  background-color: $background-color-primary;
}

h2 {
  @include style-reset;
  font-weight: 600;
  font-size: 2.1vw;
  line-height: 100%;
  color: $color-text-black;
  letter-spacing: -0.005em;

  @include tablet {
    font-size: 3.12vw;
    line-height: 125%;

  }

  @include mobile {
    font-size: 24px;
    line-height: 41px;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  font-size: 0;
  line-height: 0;
}

svg,
picture {
  font-size: 0;
  line-height: 0;
}

.visually-hidden {
  @include visually-hidden;
}
